{% extends 'base.html' %}

{% block title %}Bike{% endblock title %}

{% block body %} 
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
        <p class="lead text-muted mb-0">
          Welcome to Mobi, your premier destination for all things automotive. We are an e-commerce platform dedicated to providing you with a seamless online shopping experience for automotive parts, accessories, and tools.

          At Mobi, we understand the importance of reliable and high-quality products for your vehicles. That's why we've curated an extensive catalog featuring top-notch automotive brands known for their performance and durability. From engine components to stylish exterior accessories, from essential maintenance tools to cutting-edge technology upgrades, we have everything you need to enhance your driving experience.

          Our team of automotive enthusiasts is passionate about helping you find the right products for your needs. We provide detailed product information, specifications, and customer reviews to assist you in making informed decisions. Whether you're a seasoned car enthusiast or a DIY mechanic, we're here to support you every step of the way.

          We prioritize your satisfaction and strive to deliver exceptional value. With secure online transactions and fast shipping, we ensure that your orders are processed efficiently and reach your doorstep in a timely manner. If you have any questions or concerns, our dedicated customer support team is ready to assist you promptly and professionally.

          At Mobi, we believe in building lasting relationships with our customers. We value your trust and loyalty, and we are committed to exceeding your expectations. Your satisfaction is our ultimate goal, and we're dedicated to providing you with an enjoyable shopping experience.

          Thank you for choosing Mobi as your trusted partner in the world of automotive e-commerce. We look forward to serving you and meeting all your automotive needs.
        </p>
      </div>
      <div class="col-lg-6 ">
        <img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock body %}
