{% extends 'base.html' %}
{% block title %}Bike{% endblock title %}
{% block body %} 
<section id="about-us" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Us</h2>
          <hr class="hr-about">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel metus scelerisque, tristique ex non, sagittis sem. Donec id convallis nibh. Pellentesque sit amet luctus risus, at imperdiet orci. Nulla volutpat lorem vitae enim malesuada suscipit. Sed euismod nisi eget ligula pulvinar, vel efficitur quam malesuada. Vivamus ac libero id nunc pellentesque sagittis at a ante. Sed sed augue ante. </p>
        </div>
        <div class="col-md-6">
          <p class="lead">Aliquam commodo, eros id eleifend eleifend, felis enim bibendum nisl, vitae dignissim elit mi eu felis. Fusce a velit euismod, pharetra lorem nec, volutpat quam. Suspendisse porttitor, magna vel lacinia rhoncus, neque eros mollis ipsum, vel faucibus urna lorem id ipsum. Nulla dictum malesuada metus, vel elementum magna malesuada ac. </p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}