{% extends 'base.html' %}
{% block title %}Bike{% endblock title %}
{% block body %} 


<!-- the-imagesection -->

<header class="background-header">
    <section class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <section class="header-text">
            <h1 class="text-light" >Grab up to 50% off on Selected Bikes</h1>
            <button type="button"  class="btn btn-success"><a href="bike">Buy Now</a></button>
          </section>
        </div>
        <div class="col-md-7">
          <div class="the-car-img">
          <a href="/">  <img width="" src="static/image\Car-head.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </section>
  </header>

<h5>
  {% if request.user.customer %}
  welcome {{request.user.username}}!

  {% endif %}

</h1>
  <!-- the items -->
  <div class="container">
    <div class="my-4 arrival-border">
      <h5 class="fw-bold m-0">New Arivals</h5>
    </div>
  </div>

  
  
<!-- item vako box -->
<div class="container">
  
  
  <h4>{{cat.title}}</h4><hr>
  <div class="row">
    {%for p in product_list%}
      <div class="col-md-3">
        
          <div class="m-4">
          {% comment %} <div class="card" style="width: 13rem; height: 16rem;"> {% endcomment %}
              <h4 >{{p.title}}</h4>
              <img src="{{p.image.url}}"  alt="" class="img-fluid" style="height: 150px; object-fit: cover;" alt="">
              <p class="mt-3">Price: <strike>Rs. {{p.marked_price}}</strike><br> Rs. {{p.selling_price}}</p>
              <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-custom mt-2">Add To Cart</a>
              <br>
              <a href="{% url 'ecomapp:productdetail' p.slug %}" class="btn btn-custom mt-2">See More</a>
            {% comment %} </div> {% endcomment %}
                </div>
          </div>
      </div>
      {% endfor %}
  </div>

</div>

{% endblock body %}